<launch>
    <param 
        name="/cam_node/cam_idx" 
        type="int" 
        value="0" 
    />
    <param 
        name="/cam_node/height" 
        type="int" 
        value="480" 
    />
    <param 
        name="/cam_node/width" 
        type="int" 
        value="640" 
    />
    <param 
        name="/cam_node/channels" 
        type="int" 
        value="3" 
    />

    <node 
        pkg="face_processor" 
        type="cam_node.py" 
        name="cam_node" 
        output="screen" 
    />
</launch>