<launch>

    <arg name="debug" default="False" />
    <arg name="calibrate" default="False" />


    <include file="$(find face_processor)/launch/cam_node.launch" />

    <include file="$(find face_processor)/launch/head_pose.launch">
        <arg name="debug" value="$(arg debug)" />
    </include>

    <include file="$(find face_processor)/launch/gaze_pose.launch" />

    <include file="$(find face_processor)/launch/emotion_classification.launch">
        <arg name="debug" value="$(arg debug)" />
    </include>

    <include file="$(find face_processor)/launch/intersection_points.launch" />

    <include file="$(find face_processor)/launch/gaze_fusion.launch" />

    <include file="$(find face_processor)/launch/gaze_classification.launch" />

    <group if="$(arg debug)">
        <include file="$(find face_processor)/launch/rviz.launch" />
    </group>

    <group if="$(arg calibrate)">
        <include file="$(find face_processor)/launch/gaze_calibration_node.launch" />
    </group>

</launch>